{{gravatar-image email=email}}

<h1>
  {{input type='text' placeholder='First' value=firstName classBinding='errors.firstName:error'}}
  {{input type='text' placeholder='Last' value=lastName classBinding='errors.lastName:error'}}
</h1>

<dl>
  <dt>phone</dt>
  <dd>{{input type='text' value=phoneNumber classBinding='errors.phoneNumber:error'}}</dd>
</dl>

<dl>
  <dt>email</dt>
  <dd>{{input type='text' value=email classBinding='errors.email:error'}}</dd>
</dl>
